  body { 
    text-align: center; 
    margin: 0;
    padding: 13%;
    background-color:hwb(197 0% 0%);
    border: 50px solid hwb(247 2% 0%);
}

.weather-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #b5ed0e;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(247, 242, 242, 0.1);
}

input[type="text"] {
   
    border: 7px solid white;
    border-radius: 1px;
}

button {
    padding: 10px 20px;
    background-color: hwb(56 2% 92%);
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #0056b3;
}

#weatherResult {
    margin-top: 20px;
    font-size: 18px;
}
